#btr
         {
         font-wieght:bold !important;
         font-size:150px !important;                  	
         color:blue !important;s
         background:yellow;
         text-align:center;
         padding:20px;	
         }
         .rtv
         {
         color:red;
         padding:10px;
         background:green;
         text-align:center;
         Float:center;
         wider:100px;		
         }